@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

html,
body,
#__next {
  overflow: hidden;
}

*::selection {
  background-color: #efdb4f !important;
  color: #000;
}

html {
  overflow-y: auto;
}

html,
body {
  background: black;
}

.notion {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif !important;
}

figure.notion-block-368463f1db9a494991579322a4cdff1b > div,
figure.notion-block-8f632ea3044c436fb47ca7efb9dfa4cc > div {
  aspect-ratio: 2/1 !important;
}

.notion-asset-wrapper.notion-asset-wrapper-image > div {
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

figure.notion-asset-wrapper.notion-block-3d33fb0dec264694b5b60bd2294aaad5 > div,
figure.notion-asset-wrapper.notion-block-2f2a53d544d541879f5024082397d1c8
  > div {
  aspect-ratio: initial;
}

.notion .notion-link {
  color: rgb(96 165 250);
  text-decoration: none;
  border: none;
}

.notion .notion-link:hover {
  text-decoration: underline;
}

.notion .notion-inline-underscore {
  text-decoration: none;
}
